	body{
		background-color: #1c1c1c;
	}
	.res{
		background-color: #1c1c1c;
		border: none;
		color: #ffffff;
		padding: 2px 2pc;
	}
	.search-box {
		position: absolute;
		top: 0.4%;
		left: 90%;
		transform: translate(-100%, 0%);
		background: #353535;
		height: 50px;
		border-radius: 90px;
		padding: 10px;
		}
	.search-box:hover > .search-txt {
		width: 140px;
		padding: 0 6px;
		}
	.search-box:hover > .search-btn {
		background: #353535;
		color: #353535;
		}
	.search-btn {
		color: #eeeeee;
		float: right;
		width: 30px;
		height: 30px;
		border-radius: 90%;
		background: #353535;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: 0.4s;
		color: white;
		cursor: pointer;
		text-decoration:none;
	}
	.search-btn > i {
		font-size: 20px;
	}
	.search-txt {
		border: none;
		background: none;
		outline: none;
		float: left;
		padding: 0;
		color: white;
		font-size: 16px;
		transition: 0.4s;
		line-height: 30px;
		width: 0px;
		font-weight: bold;
	}
	.carousel {
		position: relative;
		width: 480px;
		padding: 10px 40px;
		border: 1px solid #969696;
		border-radius: 15px;
		background: #000000;
	}
	.carousel img {
		width: 130px;
		display: block;
	}
	.arrow {
		position: absolute;
		top: 60px;
		padding: 5px 5px;
		background: #000000;
		border-radius: 15px;
		border: 1px solid rgb(0, 0, 0);
		font-size: 24px;
		line-height: 24px;
		color: #ffffff;
		display: block;
	}
	.lenta{
		background-color: #000000;
		color: white;
		text-align: center;
		padding: 70px;
	}
	.arrow:focus {
		outline: none;
	}
	.arrow:hover {
		cursor: pointer;
	}
	.prev {
		left: 7px;
	}
	.next {
		right: 7px;
	}
	.gallery {
		width: 390px;
		overflow: hidden;
	}
	.gallery ul {
		height: 130px;
		width: 9999px;
		margin: 0;
		padding: 0;
		list-style: none;
		transition: margin-left 250ms;
		font-size: 0;
	}
	.gallery li {
		display: inline-block;
	}
	.na{
		background-color: #353535;
		height: 60px;
		vertical-align: center;
	}
	.na a{
		padding: 10px;
	}
	p {
		line-height: 2.2em;
	}
	a {
		position: relative;
		color: #ffffff; 
		cursor: pointer;
		line-height: 1;
		text-decoration: none;
	}
	.na a:after {
		margin-top: 57px;
		position: absolute;
		left: 0;
		width: 0;
		height: 3px;
		background-color: #38e2d6;
		content: "";
		transition: width 0.3s ease-out;
	}
	a:hover:after,
	a:focus:after {
		width: 100%;
	}
	.login-box .user-box label {
		position: absolute;
		top:0;
		left: 0;
		padding: 10px 0;
		font-size: 16px;
		color: #fff;
		pointer-events: none;
		transition: .5s;   
		}
	.login-box form a {
		position: relative;
		display: inline-block;
		padding: 15px 30px;
		color: #38e2d6;
		font-size: 16px;
		text-decoration: none;
		text-transform: uppercase;
		overflow: hidden;
		transition: .5s;
		margin-top: 40px;
		letter-spacing: 4px   
	}
	.login-box a:hover {
		background: #38e2d6;
		color: #fff;
		border-radius: 2px;
		box-shadow: 0 0 10px #38e2d6,
					0 0 50px #38e2d6,
					0 0 100px #38e2d6,
					0 0 200px #38e2d6;    
	}
	.login-box a span {
		position: absolute;
		display: block;
	}
	.login-box a span:nth-child(1) {
		top: 0;
		left: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(90deg, transparent, #38e2d6);
	}
	.login-box a span:nth-child(2) {
		top: -100%;
		right: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(180deg, transparent, #38e2d6);
	}
	.login-box a span:nth-child(3) {
		bottom: 0;
		right: -100%;
		width: 100%;
		height: 2px;
		background: linear-gradient(270deg, transparent, #38e2d6);
	}
	.login-box a span:nth-child(4) {
		bottom: -100%;
		left: 0;
		width: 2px;
		height: 100%;
		background: linear-gradient(360deg, transparent, #38e2d6);
	}
	@keyframes btn-anim1 {
		0% {
		left: -100%;
		}
		50%,100% {
		left: 100%;
		}
	}
	@keyframes btn-anim2 {
		0% {
		top: -100%;
		}
		50%,100% {
		top: 100%;
		}
	}
		@keyframes btn-anim3 {
		0% {
		right: -100%;
		}
		50%,100% {
		right: 100%;
		}
	} 
	@keyframes btn-anim4 {
		0% {
		bottom: -100%;
		}
		50%,100% {
		bottom: 100%;
		}
	}
	.login-box a span:nth-child(1) {
		animation: btn-anim1 1s linear infinite;
	}
	.login-box a span:nth-child(2) {
		animation: btn-anim2 1s linear infinite;
		animation-delay: .25s
	}
	.login-box a span:nth-child(3) {
		animation: btn-anim3 1s linear infinite;
		animation-delay: .5s
	}
	.login-box a span:nth-child(4) {
		animation: btn-anim4 1s linear infinite;
		animation-delay: .75s
	}
	.lentochka{
		height:7px;
		background: linear-gradient(90deg, #38e2d6, #02201e);
		background-size: 400% 400%;
		animation: gradient 3s ease infinite;
		transform: translate3d(0, 0, 0);
		}
	@keyframes gradient {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 50%;
		}
		100% {  
			background-position: 0% 50%;
		}
	}
	.column{
		height: 790px;
		padding: 30px;
		color: #ffffff;
		}
	.column1{
		float: left;
		width: 50%;
		height: 700px;
		}
	.column2{
		float: right;
		width: 50%;
		height: 700px;
		margin-top: 90px;
		}
	.column21{
		width: 15%;
		float: left;
		}
	.column22{
		width: 85%;
		float: right;
		margin-top: 20px;
		}
	.iksweb1{
		display: inline-block;
		cursor: pointer; 
		font-size:14px;
		text-decoration:none;
		padding:20px 20px; 
		background: linear-gradient(to bottom, #7c7c7c ,#cccccc, #ffffff);
		border-radius:20px;
		border:2px solid #000000;
		font-size: 18px;    
		margin: 10px;
		}
	.iksweb1:hover{
		display: inline-block;
		cursor: pointer; 
		font-size:14px;
		text-decoration:none;
		padding:20px 20px; 
		background: linear-gradient(to bottom, #7c7c7c ,#cccccc, #ffffff);
		border-radius:20px;
		border:2px solid #000000;
		font-size: 18px; 	   
		}
	.iksweb2{
		display: inline-block;
		cursor: pointer; 
		font-size:14px;
		text-decoration:none;
		padding:20px 20px; 
		color:#38e2d6;
		background: linear-gradient(to bottom, #888888 ,#2e2e2e, #000000);
		border-radius:20px;
		border:2px solid #ffffff;
		font-size: 18px;  
	}
	.iksweb2:hover{
		display: inline-block;
		cursor: pointer; 
		font-size:14px;
		text-decoration:none;
		padding:20px 20px; 
		color:#38e2d6;
		background: linear-gradient(to bottom, #888888 ,#2e2e2e, #000000);
		border-radius:20px;
		border:2px solid #ffffff;
		font-size: 18px; 
	}
	.iksweb3{
		margin-top: 20px;
		display: inline-block;
		cursor: pointer; 
		font-size:14px;
		text-decoration:none;
		padding:15px 300px; 
		color:#ffffff;
		background-color: #38e2d6;
		border-radius:10px;
		border:2px solid #38e2d6;
		font-size: 18px;  
	}
	.iksweb3:hover{
		display: inline-block;
		cursor: pointer; 
		font-size:14px;
		text-decoration:none;
		padding: 15px 300px; 
		color:#ffffff;
		background-color: #3aa59e;
		border-radius:10px;
		border:2px solid #38e2d6;
		font-size: 18px;  
	}	  
	table{
		border-collapse: collapse; 
		text-align: left;
		}
	td{
		font-size: 17px;
		padding: 5px 0px;
		}
	.modalDialog {
		position: fixed;
		font-family: Arial, Helvetica, sans-serif;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(0,0,0,0.8);
		z-index: 99999;
		opacity:0;
		-webkit-transition: opacity 400ms ease-in;
		-moz-transition: opacity 400ms ease-in;
		transition: opacity 400ms ease-in;
		pointer-events: none;
		}
	.modalDialog:target {
		opacity:1;
		pointer-events: auto;
	}
	.modalDialog > div {
		width: 720px;
		height: 600px;
		position: relative;
		margin: 10% auto;
		padding: 5px 20px 13px 20px;
		border-radius: 5px;
		background: #ffffff;
		background: #ffffff;
	}
	.close {
		background-color: #797979;
		line-height: 25px;
		position: absolute;
		right: -17px;
		text-align: center;
		top: -15px;
		padding: 1px;
		text-decoration: none;
		font-weight: bold;
		-webkit-border-radius: 12px;
		-moz-border-radius: 12px;
		border-radius: 60px;
		}
	.close:hover {
		color: #ffffff; 
		background-color: #464646;
		}
		.vihod{
		height: 200px;
		color: #ffffff;
		margin-top: 40px;
		margin-left: 140px;
		}
	.vihod_2{
		color: aliceblue; 
		margin-left: 160px; 
		margin-right: 190px; 
		margin-top: 20px;
		height: 110px;
		}
	.vihod1{
		width: 25%;
		text-align: left;
		float: left;
		}
	.vihod2{
		width: 25%;
		text-align: left;
		float: left;
		}
		.vihod3{
		width: 20%;
		text-align: left;
		float: right;
		}
	.vihod3{
		width:25%;
		text-align: left;
		float: right;
		}
	.res{
		background-color: #1c1c1c;
		border: none;
		color: #ffffff;
		padding: 2px 2pc;
		} 		